@import "tailwindcss";

@theme {
  --font-sans: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}


hr {
  border: 0;
  border-bottom: 1px solid var(--color-gray-300);
}

@media (prefers-color-scheme: dark) {
  hr {
    border-bottom: 1px solid var(--color-gray-700);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}