---
import Layout from "../layouts/Layout.astro";
import fs from "fs";
import path from "path";

const email_id = "aoneone5@protonmail.com";
const java24Dir = path.resolve("./public/java24");
let files: any[] = [];
try {
	files = fs.readdirSync(java24Dir).filter((file) => file.endsWith(".pdf"));
} catch (e) {
	files = [];
}
---

<Layout email_id={email_id} title="archive">
	<main class="font-light lowercase text-lg py-10">
		<h1 class="text-4xl mb-3">archive</h1>
		<p class="mb-3">
			this could be a lot of things but it is sadly nothing more than a
			glorified dumping ground
		</p>
	</main>

	<article>
		<h2 class="font-mono text-gray-300 uppercase mb-3 text-lg">
			CS/APT/24
		</h2>
		<ul class="list-decimal list-inside font-light text-lg">
			{
				files.map((file) => (
					<li class="mb-3">
						<a
							class="lowercase text-rose-500 hover:text-orange-500 transition-colors"
							href={`/java24/${file}`}
							target="_blank"
						>
							{file.replace(".pdf", "").replace(/-/g, " ")}
						</a>
					</li>
				))
			}
		</ul>
	</article>
</Layout>
