---
import Layout from '../layouts/Layout.astro';
import fs from 'fs';
import path from 'path';

const email_id = "aryan115csphy@gmail.com";
const java24Dir = path.resolve('./public/java24');
let files: any[] = [];
try {
  files = fs.readdirSync(java24Dir)
    .filter(file => file.endsWith('.pdf'));
} catch (e) {
  files = [];
}
---

<Layout email_id={email_id} title="archive">
	<div class="sm:flexbox sm:grid sm:grid-cols-2 sm:gap-15">
		<div>
			<p class="largest-text font-medium">
				CS/APT/24<br/>
				<span class="arrow-down font-light largest-text rotate-90 sm:rotate-0 md:rotate-0 lg:rotate-0 xl:rotate-0 fixed">
					->
				</span>
			</p>	
		</div>

		<div class="m-0 mt-15 sm:mt-0">
		{files.map(file => (
			<p class="normal-case normal-text mb-5">
			<a 
				class="capitalize"
				href={`/java24/${file}`} 
				target="_blank"
			>
				{file.replace('.pdf', '').replace(/-/g, ' ')}
			</a>
			</p>
		))}
		</div>
	</div>
	<style>
		@media (max-width: 640px) {
			.arrow-right {
				outline: auto;
				visibility: collapse;
			}
		}
	</style>
</Layout>