---
import Layout from '../layouts/Layout.astro';
const email_id = "aryan115csphy@gmail.com";
---

<Layout email_id={email_id} title="online classes">
	<div class="font-medium large-text grid grid-rows-1 gap-5">
		<p>I am Aryan Singh, with a Bachelors of Engineering degree in Computer Science and Mathematics from the West Bengal University of Technology.</p>
		<p>These are the classes I teach online. If you are interested in joining, please contact me <br/><a href=`mailto:${email_id}`>via email ↗</a></p>
	</div>
	<section class="mt-30 mb-30">
		<div class="font-medium flex items-center justify-center gap-20">
		<span>
			<span class="accent largest-text">4+</span>
			<p class="text-lg text-left font-light">experience</p>
		</span>
		<span>
			<p class="accent largest-text">200+</p>
			<p class="text-lg text-left font-light">students</p>
		</span>
		<span>
			<span class="accent largest-text">6+</span>
			<p class="text-lg text-left font-light">countries</p>
		</span>
		</div>
	</section>
	<div class="grid grid-cols-2 gap-5">
		<div class="normal-text">
			<p class="font-medium large-text accent">Cost/hr</p>
			<ul class="list-none mt-5">
				<li>&#8377; 850-2000</li>
				<li>&dollar; 10-15</li>
				<li>&pound; 10-15</li>
				<li>&#8364; 10-15</li>
			</ul>
		</div>
		<div class="normal-text">
			<p class="font-medium large-text accent">Features</p>
			<ul class="list-none mt-5">
				<li>1:1 Sessions</li>
				<li>Negotiable Rates</li>
				<li>Dynamic Learning environment</li>
			</ul>
		</div>
	</div>
	<span class="grid grid-rows-2">
		<div class="normal-text grid grid-cols-2 gap-5">
			<div>
				<p class="font-medium large-text accent">USA</p>
				<ol class="list-disc normal-text list-inside mt-5">
					<li>Algebra 1</li>
					<li>Algebra 2</li>
					<li>Geometry</li>
				</ol>
			</div>
			<div>
				<p class="font-medium large-text accent">UK/EU</p>
				<ol class="list-disc normal-text list-inside mt-5 text-1xl">
					<li>Maths HS</li>
					<li>Compter Science HS</li>
				</ol>
			</div>
		</div>
		<div class="normal-text grid grid-cols-2 gap-5">
			<div>
				<p class="font-medium large-text accent">Middle East</p>
				<ol class="list-disc normal-text list-inside mt-5">
					<li>Computer Science</li>
					<li>Maths</li>
				</ol>
			</div>
			<div>
				<p class="font-medium large-text accent">India</p>
				<ol class="list-disc normal-text list-inside mt-5">
					<li>Computer Science HS</li>
				</ol>
			</div>
		</div>
		<div>
			<p class="font-medium large-text accent">Testimonials</p>
			<ul class="list-none list-inside mt-5 testimonials normal-text">
				<li>
					<p>My time with you has been great so far. I love being in your class because you explain all of the topics very clearly. Additionally, you would tell me jokes that were both funny and related to the topic that you were teaching, making the class more enjoyable. I admire the fact that you always motivate me to try complex geometry problems, even if I don't know how to do it at first. I appreciate the amount of time and work you put into my classes. THANK YOU!</p>
					<p class="accent text-right normal-text">— Nathan, Kentucky, USA</p>
				</li>
				<li>
					<p>I like the way that u[you] teach and explain everything clearly when we are in our classes and also like that you let me review the things I don’t understand</p>
					<p class="accent text-right normal-text">— Binny, North Carolina, USA</p>
				</li>
			</ul>
		</div>
	</span>
</Layout>