---
import Layout from '../layouts/Layout.astro';
---

<Layout email_id="aoneone5@protonmail.com" title="from, First Principle">
	<span class="grid grid-rows-1 max-w-6xl">
        <p class="large-text">
            <a href="https://maps.app.goo.gl/rJyPwC8RF9eRHQA97">
            111, Usha Park, Bansdroni, Kolkata, West Bengal 700096 ->
            </a>
        </p>
    </span>
</Layout>