---
import Layout from '../layouts/Layout.astro';
const email_id="aoneone5@protonmail.com"
---
<Layout email_id={email_id} title="homepage">
   <span>
	<!-- love or hate, you live in the middle you get nothing  -->
      <span class="font-mono uppercase font-light grey">l/h,ylitmygn</span><br/>
      <header class="flex items-center">
         <p class="font-medium largest-text">CAPT, 31<sup>st</sup> aqdiv</p>
      </header>
      <div class="pt-10 pb-10 grid grid-cols-1 gap-5 sm:p-0 sm:grid sm:grid-cols-2 sm:grid-rows-2 sm:gap-5">
         <p class="normal-text font-light">Some people also call me Aryan much to my despair.</p>
         <p class="normal-text font-light">I once made a map for <a href="/assets/map-aryan-singh.pdf">Kolkata Metro &UpperRightArrow;</a></p>
      </div>
      <div class="grid grid-cols-1 grid-rows-2 sm:grid sm:grid-cols-2">
         <h2>
            <span class="font-mono uppercase font-light grey">making education modular</span><br/>
            <a class="large-text font-bold accent" href="/ffp">From, First Principle</a>
         </h2>
         <p class="normal-text font-light">"f,fp" or "FFP" is an institute laid down by me and my parterns. That aims to make Indian, engineering at the lowest of colleges suck just a little bit less. Estd in 2025.</p>
      </div>
   </span>
</Layout>
