---
import Layout from '../layouts/Layout.astro';

const email_id="aoneone5@protonmail.com"
---

<Layout email_id={email_id} title="homepage">
	<span>
		<div class="font-medium large-text grid grid-cols-2 gap-5">
			<p>Indian wp men 31st aqdiv-07 <br/>ADM-CAPT & MQ</p>
			<p class="flex items-center justify-center largest-text font-bold bg-rose-500 text-slate-50 dark:text-slate-950">06-24</p>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>
		<div class="font-light normal-text grid grid-cols-2 grid-rows-2 gap-5">
			<p>Some people also call me Aryan much to my despair.</p>
			<p>I once made a map for <br/><a href="/map-aryan-singh.pdf">Kolkata Metro &UpperRightArrow;</a></p>
			<p>If you are here from APT you should look at this page <br/><a href="/archive">here &UpperRightArrow;</a></p>
			<p>If you are here looking for 1:1 online classes look <br/><a href="/classes">here &UpperRightArrow;</a></p>
		</div>
	</span>
</Layout>