---
import Layout from "../layout/Layout.astro";
---

<Layout title="Homepage">
  <section class="max-w-3xl space-y-8">
    <div class="space-y-3">
      <h2 class="title-2">whoami</h2>
      <p>
        I'm the co-founder of <a href="https://boxed.love" target="_blank">boxed.love</a>
      </p>
      <!-- <p>
        I'm also an Embedded Systems Researcher at <a href="https://neuroailabs.in/" target="_blank"
          >Neuro AI Labs</a
        ><sup><a href="#2">[2]</a></sup>
      </p> -->

      <p>more <sup><a href="#1">[1]</a></sup></p>
    </div>
    <div class="space-y-2">
      <h2 class="title-2">history</h2>
      <ol>
        <li>
          I used to work at the <a href="https://www.isical.ac.in" target="_blank"
            >Indian Statistical Institute, Kolkata</a
          ><sup><a href="#2">[2]</a></sup>
        </li>
        <li>Teaching Mathematics to many, many of kids around the globe</li>
        <li>
          Spent many years getting a degree in Computer Science and Engineering from <a
            href="https://www.makautwb.ac.in/"
            >Maulana Abul Kalam Azad University of Technology, West Bengal</a
          >
        </li>
      </ol>
    </div>
    <div class="space-y-2">
      <h2 class="title-2">cool stuff</h2>
      <ol>
        <li>
          <a href="https://0thorderlogic.github.io/sense" target="_blank">Sense</a>: real-time web
          accessibility converting online text into tactile braille
        </li>
        <li>
          <a href="/pdfs/2023/Map.pdf" target="_blank">Kolkata metro's map</a>
        </li>
        <li>
          <a href="https://fmhy.net/" target="_blank">Free media heck yeah</a>
        </li>
        <li>
          <a href="https://www.amazon.in/hz/wishlist/ls/24YJ3FROBSSHY" target="_blank">Books</a>
          <span class="warn">[goes to amazon.in]</span>
        </li>
        <li>
          If you like any aspect of this website, you can check out the theme I developed, and is
          hosted on <a href="https://github.com/0thorderlogic/man-pages" target="_blank">github</a>
        </li>
      </ol>
    </div>
    <div class="space-y-2">
      <h2 class="title-2">elsewhere</h2>
      <ol>
        <li>
          <a href="https://github.com/0thorderlogic" target="_blank">github</a>
        </li>
        <li>
          <a href="https://bsky.app/profile/a115.xyz" target="_blank">bsky</a>
        </li>
        <li>
          <a href="https://x.com/0thorderlogic" target="_blank">x</a>
          <span class="warn">[goes to x.com]</span>
        </li>
      </ol>
    </div>
    <div class="space-y-2">
      <h2 class="title-2">wall</h2>
      <p>
        <span class="text-gruv-aqua-light">singh (at) a115 (dot) xyz</span>
      </p>
    </div>
    <div class="space-y-2">
      <h2 class="title-2">fortune</h2>
      <ol>
        <li>
          <i
            >"Well no, that is not a logically sound argument, and won't hold up as a mathematically
            sound proof" -
            <b>Ishan T</b>, Imitating me, circa 2025</i
          >
        </li>
      </ol>
    </div>
    <div class="space-y-2">
      <h2 class="title-2">tail</h2>
      <div class="text-xl">
        <sub id="#2"
          ><sup>[2]</sup>
          As of March 31<sup>st</sup>, 2026
        </sub><br />
        <sub id="#1"
          ><sup>[1]</sup>
          I don't do much
        </sub>
      </div>
    </div>
  </section>
</Layout>
