---
interface Props {
    title?: string;
    year?: string;
}
import fs from 'fs';
import path from 'path';

const archiveDir = path.resolve('./java24');
let files: any[] = [];
try {
    files = fs.readdirSync(archiveDir);
} catch (e) {
    files = [];
}

const { title, year  } = Astro.props;
---
<div class="gap-10 md:flexbox grid grid-cols-2 lg:flexbox lg:grid lg:grid-cols-2">
    <span class="grid grid-rows-2 gap-0">
        <p class="text-2xl md:text-3xl lg:text-4xl">{title}</p>
        <span class="accent b-0">{year}</span>
    </span>
    
    <span>
        <ol class="list-decimal list-outside md:flexbox md:justify-right lg:flexbox lg:justify-right">
            {files.map(file => (
                <li class="font-medium">
                </li>
            ))}
        </ol>
    </span>
</div>

<style>
</style>