---
interface Props {
    header_text?: string;
}
const { header_text } = Astro.props;
const currentPath = Astro.url.pathname;

const navLinks = [
    // { href: '/students', label: 'students' },
    { href: '/archive', label: 'archive' },
    { href: '/classes', label: 'classes' },
    { href: '/ffp', label: 'f,fp' },
];

---
<ul class="font-light mb-10 flex items-center justify-between w-full">
    <p class="text-slate-950 dark:text-slate-50 "><a href="/" class="dark:text-slate-50 text-slate-950">sanket's</a></p>
    <span class="lowercase flex space-x-4 flex-row items-center">
        {navLinks.map(link => (
            <a href={link.href} aria-current={currentPath === link.href ? "page" : undefined}>
                {link.label}
            </a>
        ))}
    </span>
</ul>
<style>
    p a {
        color: var(--color-text);
        text-decoration: none;
    }
</style>