---
import navData from "../../content/navbar.json";

const { links } = navData;
---

<nav>
  <ul class="flex flex-wrap items-center gap-2 md:gap-3">
    {
      links.map((link) => (
        <li>
          <a
            class="text-emerald-500! hover:text-mist-400! no-underline! hover:no-underline! font-bold tracking-tight transition-colors text-md md:text-lg"
            href={link.href}
          >
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
