---
import navData from "../../content/navbar.json";

const { links } = navData;
---

<nav class="mt-4">
  <ul class="flex flex-wrap gap-2 md:gap-3">
    {
      links.map((link) => (
        <li>
          <a
            class="font-sans font-bold tracking-tight text-gruv-orange-light! transition-colors text-sm md:text-base"
            href={link.href}
          >
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
